.modeWrapper {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 16px;
  display: flex;
  gap: 8px;
  align-items: center;

  z-index: 10;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #d6f2f7;
  color: #222222;
  cursor: pointer;
  &:hover {
    background: #f7f6f6;
  }
}

.active {
  background: #ffffff;
}


.coinCounterWrapper {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  display: flex;
  gap: 8px;
  align-items: center;

  z-index: 10;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

.coinImage {
  width: 32px;
  height: 32px;
}

.counter {
  font-size: 24px;
  color: #ffffff;
}